<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
	<div>
		<h2>Album:</h2>
		<table>
		<tr><th>Titolo</th><th>-</th><th>Fotografo</th></tr>
			<tr th:each="album : ${albums}"> 
				<td th:text="${album.titolo}">titolo</td> <td></td>
				<td th:text="${album.fotografo.nome} + ' ' +${album.fotografo.cognome}">marco verdi</td> <td></td> <td></td>
				<td><a th:href="@{'/ricercaFotografie' + '/' + ${album.id}}"><button>Fotografie</button></a></td>
				<td><button>Elimina</button></td>
				</tr>
		</table>
	</div>
</body>
</html>