<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
	<div>
		<h2>Fotografie:</h2>
		<table>
		<tr><th>Titolo</th><th></th><th>Album</th><th></th><th>Fotografo</th></tr>
			<tr th:each="foto: ${fotografie}">  
				<td th:text="${foto.titolo}">marco verdi</td><td></td>
				<td th:text="${foto.album.titolo}"></td><td></td>
				<td th:text="${foto.album.fotografo.nome} + ' ' + ${foto.album.fotografo.cognome}">marco verdi</td><td></td><td></td>
				<td><button>Elimina</button></td>
		</tr>
		</table>
	</div>
</body>
</html>