<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
	<div>
		<h2>Fotografi:</h2>
		<table>
		<tr><th>Nome  </th><th></th><th>Cognome  </th></tr>
			<tr th:each="fotografo : ${fotografi}"> 
				<td th:text="${fotografo.nome}">Marco</td>
			<td></td>
				<td th:text="${fotografo.cognome}">Verdi</td>
				
				<td><a th:href="@{'/ricercaAlbum' + '/' + ${fotografo.id}}"><button>Album</button></a></td>
				<td> <button>Elimina</button></td>
				</tr>
		</table>
	</div>
</body>
</html>