<!DOCTYPE HTML>
<!--
	Snapshot by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<title>ADMIN</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/CSS/main.css" />
</head>
<body>
	<div class="page-wrap">

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="indexAdmin" class="active"><span
						class="icon fa-home"></span></a></li>
				<li><a href="ricerca"><span class="icon fa-search"></span></a></li>

				<hr>

				<li><a href="addFotografo"><span class="icon fa-user"></span></a></li>
				<li><a href="addAlbum"><span class="icon fa-book"></span></a></li>
				<li><a href="addFoto"><span class="icon fa-image"></span></a></li>

				<hr>

				<li><a href="mostraRichieste"><span class="icon fa-bell"></span></a></li>

				<li><a href="utente"><span class="icon fa-sign-out"></span></a></li>

			</ul>
		</nav>

		<!-- Main -->
		<section id="main">

			<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Hey, Io sono SILPH</h1>
					<p>Bentornato Admin</p>

				</div>
			</section>

			<!-- Gallery -->
			<section id="galleries">

				<!-- Photo Galleries -->
				<div class="gallery">
					<header class="special"> </header>
					<div class="content">
						<div class="media" th:each="fotografia : ${fotografie}">
							<a th:href="${fotografia.url}"><img
								style="width: 400px; height: 300px" th:src="${fotografia.url}"
								alt="" /></a>
						</div>

					</div>

				</div>
			</section>

			<!-- Contact -->
			<section id="contact">
				<!-- Social -->
				<div class="social column">
					<h3>Chi siamo</h3>
					<p>
						Sei un'azienda in cerca della foto perfetta per la tua campagna
						pubblicitaria? <br /> Sei un cantante e stai cercando la
						copertina per il tuo nuovo disco? <br /> Allora sei nel posto
						giusto! <br /> Noi offriamo la possibilità di trovare la foto
						giusta per ogni evenienza, in maniera semplice e veloce. <br />
						Quello che ti basterà fare sarà:


						<ul>
						<li>Cliccare sulla foto.</li>
						<li>Cliccare su <i class="fa fa-shopping-cart"
							aria-hidden="true"></i>
						</li>
					</ul>
					La foto verrà aggiunta al tuo carrello, e potrai inviarci la tua
					richiesta semplicemente cliccando su <b>‘INOLTRA’</b>. <br /> Un
					nostro funzionario ti risponderà appena possibile, inviandoti il
					contratto di utilizzo per tale richiesta. <br> Facile no? Cosa
					aspetti?
					</p>

					<h3>Seguici</h3>
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span
								class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span
								class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span
								class="label">Instagram</span></a></li>
					</ul>

				</div>


			</section>
			<!-- Footer --><footer id="footer">
							<div class="copyright">
								&copy; Untitled Design: <a href="#">Marini</a> e <a href="#">Massuda</a>.
							</div>
						</footer>
				</section>
		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.poptrox.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>