<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
		<h2>Richieste:</h2>
		<table>
		<tr>
		<th>RichiestaID</th><th>Email dell' utente</th><th>Lista foto richieste</th></tr>
		<tr th:each="richiesta : ${richieste}"> 
<td th:text="${richiesta.id}">1</td>
<td th:text="${richiesta.email}">fast-disco@hotmail.it</td>
<td><a th:href="@{'/richiesta' + '/' + ${richiesta.id}}"><button>Lista foto</button></a></td>
</tr>
</table>
	</div>
</body>
</html>